@import url('https://fonts.googleapis.com/css2?family=Allura&family=Asap+Condensed&family=Great+Vibes&family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,300;1,500&family=Josefin+Slab:ital,wght@1,700&family=Quintessential&display=swap');

.educomponentagri {
    width: 90vw;
    height: 90vh;
    background-image: url("../img/Agriban3.jpg");
    background-size: 100% 100%;
    background-image:  linear-gradient(brown);
    margin-left: 50px;
    margin-top:10px;
    background-repeat: no-repeat;
   
    
    }
/* .edubox{
    display: grid;
    grid-template-columns:  1fr 1fr ;
   
} */
.educommon{
    display: grid;
    place-items:center;
    margin-top: 70vh;

}

.edubox11{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 150px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    color:white;
    width: 45vw;
    background-color:black;
    opacity: 0.5;
    height: 100px;
    margin-top:50px;
}

/* 
.containeragri{

    width: 50rem;
    height: 50rem;
   
} */
/* .containeragri1 p{
    color:black;
    font-size: larger;
    text-align: left;
    
    padding-top: 30px;
    
    margin-left: 15px; 
 justify-content: center;

} */

.containerh1 h2{
    font-family: 'Asap Condensed', sans-serif;
    color:white;
    padding-top: 10px;


}